    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/init.js"></script>
    <script src="/javascripts/custom.js"></script>

    <script>
      $(document).ready(function(){
        //  if (info) {
          //  Materialize.toast(info, 4000);
        //  } else if (error) {
          //  Materialize.toast(error, 4000);
        //  } else if (success) {
          //  Materialize.toast(success, 4000);
        //  }
      });
    </script>

  </body>
</html>
