<%- include('./partials/header') %>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text"><br>Developer Link</h1>
      <div class="row center">
        <h5 class="header col s12">Where web developers and non-profits connect to work on projects for the benefit of all</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img class="responsive-img cover-img" src="/images/childrenLaos.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <br><br><br>
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Developers</h4>
        <p class="light">Want to use your skills to help people in need? Developer Link provides a platform where developers can gain experience, build their portfolios, and help others.</p>
        <br><br><br>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Share your technical expertise</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img class="responsive-img cover-img" src="/images/dev.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <br><br><br>
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Non-Profits</h4>
        <p class="light">Post your development projects and connect with developers who can bring your vision to life.</p>
        <br><br><br>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Find developers to help you do the good work you're doing</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img class="responsive-img cover-img" src="/images/hands.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer grey lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">A CodeCore Student Project</h5>
        <p class="grey-text text-lighten-4">This site was created by Siobhan Coady, as her final project for CodeCore's 12-week Web Developer Bootcamp. Avatars were custom-made by Trista Townsend and Paul Buda.</p>


      </div>
      <div class="col l3 s12">
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <p class="grey-text text-lighten-4">Contact Siobhan at <a class="grey-text text-lighten-3" href="mailto:siobhan.coady@gmail.com">siobhan.coady@gmail.com</a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made with <a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<%- include('./partials/footer') %>
