/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.hidden {
  display: none;
}

.cover-img {
  /*opacity: 0.8;*/
}

.avatar-large {
  height: 150px;
  width: auto;
  margin-top: 30px;
  margin-left: 20px;
}

.choose-avatar {
  height: 200px;
  width: auto;
}

.icon-avatar {
  height: 40px;
  width: auto;
  padding-right: 5px;
  vertical-align: middle;
}

.browse-avatar {
  height: 30px;
  width: auto;
  vertical-align: middle;
  padding-right: 10px;
}

#map {
  height: 400px;
}

.dev-card {
  margin: 25px 0px !important;
  padding: 10px;
  width: 100%;
  background-color: #b39ddb;
  display: flex;
}

.np-card {
  margin: 25px 0px !important;
  padding: 10px;
  width: 100%;
  background-color: #80deea;
  display: flex;
}

.dev-stretch, .np-stretch {
  align-items: stretch;
  display: flex;
}

.dev-info, .np-info {
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: stretch;
  padding: 15px !important;
  background-color: white;
  position: relative;
}

.my-footer {
  height: 40px;
}

.contact-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
}

/* label color */
.input-field label {
 color: #bdbdbd;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #bdbdbd;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #bdbdbd;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #bdbdbd;
}

/* label focus color */
.input-field input[type=email]:focus + label {
 color: #bdbdbd;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #bdbdbd;
 box-shadow: 0 1px 0 0 #000;
}

/* label focus color */
.input-field input[type=password]:focus + label {
 color: #bdbdbd;
}
/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #bdbdbd;
 box-shadow: 0 1px 0 0 #000;
}

/* label focus color */
.input-field input[type=number]:focus + label {
 color: #bdbdbd;
}
/* label underline focus color */
.input-field input[type=number]:focus {
 border-bottom: 1px solid #bdbdbd;
 box-shadow: 0 1px 0 0 #000;
}

/* label focus color */
.input-field textarea:focus + label {
 color: #bdbdbd !important;
}
/* label underline focus color */
.input-field textarea:focus {
 border-bottom: 1px solid #bdbdbd !important;
 box-shadow: 0 1px 0 0 #000 !important;
}

/* label focus color */
.input-field select:focus + label {
 color: #bdbdbd !important;
}
.dropdown-content li>a, .dropdown-content li>span {
 color: #616161 !important;
}
.input-field .dropdown-content input[type="checkbox"] + label {
  color: #616161 !important;
}
.input-field [type="checkbox"]:checked+label:before {
  border-right: 2px solid #616161;
  border-bottom: 2px solid #616161;
}
[type="checkbox"]:checked+label:before {
  border-right: 2px solid #616161;
  border-bottom: 2px solid #616161;
}
/* label underline focus color */
.input-field select:focus {
 border-bottom: 1px solid #bdbdbd !important;
 box-shadow: 0 1px 0 0 #000 !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid #616161;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #616161;
}

.flash-message {
  height: 50px;
  width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}
